{%- if fixtures -%}
## Fixtures Available
{% for fixture in fixtures -%}
- {{ fixture.name }} ({{ fixture.id }}) : 
  Type: {{ fixture.type }}
  Position: {{ fixture.position.x }}, {{ fixture.position.y }}; 
  Actions: {{ fixture.actions | map(attribute='name') | join(', ') }}
{% endfor -%}
{%- endif -%}