{%- if fixtures -%}
## Fixtures Available
{% for fixture in fixtures -%}
- **{{ fixture.id }}** ({{ fixture.name }}):
  Type: {{ fixture.type }}
  Position: {{ fixture.position.x }}, {{ fixture.position.y }}; 
  Available Actions: {{ fixture.actions | map(attribute='name') | join(', ') }}
{% endfor -%}
{%- endif -%}